/* home */
@use "../base/typography" as type;

:root {
  --text-opacity-timing: 0.5s;
}

body {
  background: #dcf5ff;
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
  font-family: "Nunito", sans-serif;

  .container {
    width: 30%;
    background: white;
    border-radius: 10px;

    .inner {
      background: rgb(7, 218, 165);
      padding: 1em;
      border-radius: 10px;
      width: 100%;
      color: white;

      //here it is.
      clip-path: inset(0% 0% 0% 100%);
      transition: all 0.5s ease-in-out;
      cursor: pointer;

      &:hover {
        clip-path: circle(75%);
        background: #00b6ff;
      }

      h1 {
        color: white;
        opacity: 0;
        font-size: 2rem;
        padding-block: 0.5em;
        transition: opacity var(--text-opacity-timing);
      }

      p {
        color: white;
        opacity: 0;
        font-size: 0.8rem;
        transition: opacity var(--text-opacity-timing);
      }

      &:hover h1,
      &:hover p {
        opacity: 100%;
      }
    }

    &:hover .inner {
      clip-path: inset(0% 0% 0% 0%);
    }
  }
}
