/* home */
@use "../base/typography" as type;

:root {
  --text-opacity-timing: 2s;
}

body {
  background: #dcf5ff;
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
  font-family: "Nunito", sans-serif;

  .container {
    .inner {
      background: rgb(7, 218, 165);
      padding: 1em;
      border-radius: 10px;
      width: 250px;
      color: white;

      //here it is.
      clip-path: circle(10% at 91% 20%);
      transition: all 0.5s ease-in-out;
      cursor: pointer;

      &:hover {
        clip-path: circle(75%);
        background: #00b6ff;
      }

      .i {
        float: right;
        color: white;
        font-size: 1.5rem;
        font-weight: bold;
        position: relative;
        margin-right: 1.5%;

        transition: opacity 0.5s;
      }

      &:hover .i {
        opacity: 0;
      }

      h1 {
        color: white;
        opacity: 0;
        font-size: 2rem;
        padding-block: 0.5em;
        transition: opacity var(--text-opacity-timing);
      }

      p {
        color: white;
        opacity: 0;
        font-size: 0.8rem;
        transition: opacity var(--text-opacity-timing);
      }

      &:hover h1,
      &:hover p {
        opacity: 100%;
      }
    }

    // &:hover .inner {
    //   clip-path: circle(75%);
    // }
  }
}
